<html>
<head>
<title>Altera Senha</title>
<script src={{ url_for('static', filename='js/changePassword.js') }}></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>
<body>
<div class="column is-4 is-offset-4">
    <h3 class="title">Altera Senha</h3>
    <div class="box">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="notification is-danger">
				{{ messages[0] }}
			</div>
		{% endif %}
		{% endwith %}
	<form action={{ url_for('changePassword') }} method="POST" onsubmit="return validate()">
		<div class="field">
			<div class="control">
				<input class="input is-large" type="password" name="oldpassword" placeholder="Senha Anterior">
			</div>
		</div>

		<div class="field">
			<div class="control">
				<input class="input is-large" type="password" name="newpassword"  placeholder="Senha Nova">
			</div>
		</div>

		<div class="field">
			<div class="control">
				<input class="input is-large" type="password" name="cpassword"  placeholder="Confirme Senha">
			</div>
		</div>

		<button class="button is-block is-info is-large is-fullwidth">Altera Senha</button>

	</form>
</div>
<a href="{{ url_for('profileHome') }}">Ir para Cadastro</a>
</body>
</html>


