<!DOCTYPE HTML>
<html>
<head>
<title>Checkout</title>
<link rel="stylesheet" href={{url_for('static', filename='css/cart.css')}} />
<link rel="stylesheet" href={{url_for('static', filename='css/topStyle.css') }} />
</head>
<body>
<div id="title">
	<form>
		<input id="searchBox" type="text" name="searchQuery">
		<input id="searchButton" type="submit" value="Buscar">
	</form>

	{% if not loggedIn %}
		<div id="signInButton">
			<a class="link" href="/loginForm">Sign In</a>
		</div>
	{% else %}
	<div class="dropdown">
		<button class="dropbtn">Olá, <br>{{firstName}}</button>
		<div class="dropdown-content">
			<a href="/account/orders">Seu pedido</a>
			<a href="/account/profile">Seu Cadastro</a>
			<hr>
			<a href="/logout">Sign Out</a>
		</div>
	</div>
	{% endif %}
	<div id="kart">
		<a class="link" href="/cart">
		<img src={{url_for('static', filename='images/shoppingCart.png')}} id="cartIcon" />
		CART {{noOfItems}}
		</a>
	</div>
</div>
<div id="total">
	<span id="subtotal">Finaliza o pedido no valor R$ {{totalPrice}} </span> Você será direcionado ao App de pagamento.
</div>
<a href="/instamojo"><h1>Pagamento</h1></a>
</body>
</html>

